{%extends "base_generic.html"%}
{%block content%}
	<h1>Renew: {{bookinst.book.title}}</h1>
	<p>Borrower: {{bookinst.borrower}}</p>
	<p {%if bookinst.is_overdue%} class="text-danger" {%endif%}>Due date: {{bookinst.due_back}}</p>
	
	<!--empty action means that the form data will be posted back to the current URL-->
	<form action='' method='post'>
		<!--The {% csrf_token %} added just inside the form tags is part of Django's cross-site forgery protection-->
		<!--Add the {% csrf_token %} to every Django template you create that uses POST to submit data. 
		This will reduce the chance of forms being hijacked by malicious users-->
		{%csrf_token%}
		<table>
			<!--more details about form rendering https://docs.djangoproject.com/en/1.10/topics/forms/#rendering-fields-manually-->
			{{form}}<!--show the form-->
		</table>
		<input type='submit' value='Submit Form'/>
	</form>
{%endblock%}